.background
{
    background: -webkit-linear-gradient(left top,#70ba70,rgb(13, 197, 253) );
    background: -ms-linear-gradient(left top,#70ba70,rgb(13, 197, 253) );
    background: -o-linear-gradient(left top,#70ba70,rgb(13, 197, 253) );
    background: -moz-linear-gradient(left top,#70ba70,rgb(13, 197, 253) );
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mainframe
{
    padding: 10px;
    margin:30px;
    background-color:#f2f2f2;
    border-radius: 10px;
}  
.mainheader
{
    text-align: center;
    color:black;
    font-weight: bolder;
    font-variant: small-caps;
} 
.questionbox
{
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#f2f2f2;
    color:black;
}
.textinput
{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.textinput[type=date] , .textinput[id=country]
{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.questiontitle
{
    font-size: 150%;
}
.questionmark
{
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    
    
}
.mouseenter{
    -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 
.mouseexit{
    -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  }
  @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
